{% extends 'layout.html' %}

{% block body %}
	<div class="jumbo-tron text-centered">
			<h1>Welcome to MovieGame</h1>
			<p>Our goal was to create a web-based game inspired by the parlor game 
                <a href="https://en.wikipedia.org/wiki/Six_Degrees_of_Kevin_Bacon" target="_blank">Six Degrees of Kevin Bacon</a> 
                which is a game based on the theory of six degrees of separation. The idea of six degrees of separation 
                suggests that any given person is only six or fewer social connections away from any other person. 
                Our game will challenge the player to link a starting actor to a goal actor using movie appearances
                and fellow cast members.</p>
            <br>
            <h3>Created by:</h3>
            <ul>
                <li>Daniel Cowan</li>
                <li>Jerry Han</li>
                <li>Connor Jordan</li>
                <li>Yogi Raghav</li>
            </ul>
	</div>

{% endblock %}
