{% extends 'layout.html' %}

{% block body %}
	<div class="jumbo-tron text-centered">
			<h1>Instructions</h1>
			<p>Given a starting actor, name a movie this actor was in and a fellow cast member.
                This counts as 1 <em>move.</em> Repeat this process until you've named the goal actor
                as the fellow cast member. <em><b>Easy as that!</b></em> Count the number of movies in
                your chain to get the number of <em>moves.</em> Test your movie trivia chops by trying 
                to reach the goal in as few moves as possible! Let's see an example.</p>
            <h5>Example</h5>
            <p><b>Start: </b>Will Ferrell</p>
            <p style="margin-top:-20px"><b>Goal: </b>Michael Keaton</p>
	</div>

    <div class="d-flex justify-content-around">
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/sXT9uCw7ceIxTdmL9XqtuYdNmgM.jpg" />
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/hafNeozn8Q4K6enP2ux5MTMCHjH.jpg" />
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/irUHUE17vDaSSYsOOJAxnHyEiSo.jpg" />
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/gaTuHICwavPUmqQzPZFEXKSRwsC.jpg" />
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/zKuyzmKzPLG7RJo7lbbHjx6CCZc.jpg" />
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/jX5THE1yW3zTdeD9dupcIyQvKiG.jpg" />
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/baeHNv3qrVsnApuKbZXiJOhqMnw.jpg" />
    </div>
    <div class="d-flex justify-content-around">
        <p>Will Ferrell</p>
        <p>--></p>
        <p>Anchorman</p>
        <p>--></p>
        <p>Christina Applegate</p>
        <p>--></p>
        <p>Mars Attacks!</p>
        <p>--></p>
        <p>Danny DeVito</p>
        <p>--></p>
        <p>Batman Returns</p>
        <p>--></p>
        <p>Michael Keaton</p>
    </div>
    <div>
        <p>3 movies in the chain = 3 <em>moves</em></p>
    </div>
    <div>
        <h5><a href="/instructions2"><em><b>...or!</em></b></a></h5>

{% endblock %}
